body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(var(--bs-gray-900), #101214);
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1em;
}

a {
  color: var(--bs-secondary)
}

a:hover {
  color: var(--bs-blue)
}

nav {
  border-bottom: 1px solid;
}

article {
  border-bottom: 1px solid;
}

span {
  padding: inherit;
}

/* Classes */

.inline-block {
  display: inline-block;
}

.icon {
  display: inline-block;
  height: 1em;
/* height: 100%; */
  width: auto;
}

.large-icon {
  display: inline-block;
  height: 3em;
  width: auto;
}

.block-button {
  padding: 0.5em 1em;
  font-size: 1.25em;
  border: none;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

.block-button:hover {
  background-color: var(--bs-purple);
  animation-duration: 100ms;
}

/* Separators between elements */
/* .sep::after { */
/*   content: "|"; */
/* } */

/* .sep:last-child::after { */
/*   content: "" */
/* } */
