body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(180deg, var(--bs-gray-900), #101214);
  background-size: 100%; 
  background-repeat: no-repeat;
}

html {
  min-height: 100%;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1em;
}

a {
  color: var(--bs-secondary)
}

a:hover {
  color: var(--bs-blue)
}

header {
  border-bottom: 1px solid;
  margin-bottom: 2em;
}

footer {
  border-top: 1px solid;
  margin: auto;
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100%; */
}

article {
  padding-top: 1em;
  border-bottom: 1px solid var(--bs-secondary);
  margin: auto;
}

.container {
  min-height: 10em;
}

span {
  padding: inherit;
}

figure {
  position: relative;
}

figcaption {
  margin: auto;
  text-align: center;
  width: 70%;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: var(--bs-secondary);
  border-radius: 0 0 30px 30px;
}

#projects {
  overflow: hidden;
  transform-origin: top;
}

/* Classes */

.inline-block {
  display: inline-block;
}

.icon {
  display: inline-block;
  height: 1em;
  /* height: 100%; */
  width: auto;
}

.large-icon {
  display: inline-block;
  height: 3em;
  width: auto;
}

.current {
  background-color: var(--bs-blue);
  font-weight: bold;
}

.block-button {
  padding: 0.5em 1em;
  font-size: 1.25em;
  border: none;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

.slideshow {
  margin: auto;
  width: 70%;
  object-fit: fill;
  background-color: var(--bs-secondary);
  animation: slide 4s 1;
  border-radius: 30px 30px 0 0;
}

.block-button:hover {
  background-color: var(--bs-purple);
  animation-duration: 100ms;
}

/* Separators between elements */
/* .sep::after { */
/*   content: "|"; */
/* } */

/* .sep:last-child::after { */
/*   content: "" */
/* } */

@media print {
  a {
    content: attr(href);
  }
}
