:root {
  --stone-50: #f5f5f5;
  --stone-100: #dbdbdb;
  --stone-200: #c1c1c1;
  --stone-300: #a8a8a8;
  --stone-400: #8f8f8f;
  --stone-500: #777777;
  --stone-600: #606060;
  --stone-700: #4a4a4a;
  --stone-800: #303030;
  --stone-900: #222222;
  --stone-950: #0f0f0f;
  --platinum-50: #f6f5f3;
  --platinum-100: #dcdad9;
  --platinum-200: #c3c0be;
  --platinum-300: #aba7a3;
  --platinum-400: #938e8a;
  --platinum-500: #7c7671;
  --platinum-600: #645f5b;
  --platinum-700: #4d4a47;
  --platinum-800: #373533;
  --platinum-900: #232120;
  --platinum-950: #100f0e;
  --zinc-50: #f4f5f7;
  --zinc-100: #d9dbdd;
  --zinc-200: #bfc1c5;
  --zinc-300: #a5a8ad;
  --zinc-400: #8b8f97;
  --zinc-500: #737780;
  --zinc-600: #5d6067;
  --zinc-700: #484a4f;
  --zinc-800: #343538;
  --zinc-900: #212224;
  --zinc-950: #0f0f11;
  --amber-50: #fff1e1;
  --amber-100: #f2d4be;
  --amber-200: #e1b898;
  --amber-300: #d4996b;
  --amber-400: #c97931;
  --amber-500: #b55c00;
  --amber-600: #944900;
  --amber-700: #6f3b06;
  --amber-800: #4d2c0f;
  --amber-900: #311c0a;
  --amber-950: #190c03;
  --cherry-50: #ffedf1;
  --cherry-100: #f6cfd5;
  --cherry-200: #e6b0b9;
  --cherry-300: #db8f9d;
  --cherry-400: #d06a81;
  --cherry-500: #bd4a67;
  --cherry-600: #9b3a53;
  --cherry-700: #733241;
  --cherry-800: #50262f;
  --cherry-900: #33181e;
  --cherry-950: #1b090d;
  --ruby-50: #ffedec;
  --ruby-100: #f7d0ce;
  --ruby-200: #e8b1ae;
  --ruby-300: #dd908d;
  --ruby-400: #d36c6b;
  --ruby-500: #c04b4e;
  --ruby-600: #9d3b3d;
  --ruby-700: #753333;
  --ruby-800: #512726;
  --ruby-900: #341818;
  --ruby-950: #1b0909;
  --citrus-50: #fff4de;
  --citrus-100: #e8d9ba;
  --citrus-200: #d3bf92;
  --citrus-300: #c2a460;
  --citrus-400: #b2880c;
  --citrus-500: #9e6e00;
  --citrus-600: #815800;
  --citrus-700: #614500;
  --citrus-800: #443305;
  --citrus-900: #2b2005;
  --citrus-950: #150e01;
  --forest-50: #ecfae5;
  --forest-100: #cee2c5;
  --forest-200: #afcba2;
  --forest-300: #8eb579;
  --forest-400: #6ba14b;
  --forest-500: #4d8a20;
  --forest-600: #3c7016;
  --forest-700: #32551d;
  --forest-800: #263d1a;
  --forest-900: #182610;
  --forest-950: #091205;
  --emerald-50: #e2fcf1;
  --emerald-100: #c0e5d5;
  --emerald-200: #99cfb9;
  --emerald-300: #68bb9c;
  --emerald-400: #08a880;
  --emerald-500: #009266;
  --emerald-600: #007752;
  --emerald-700: #005a40;
  --emerald-800: #05402f;
  --emerald-900: #06281d;
  --emerald-950: #01140d;
  --teal-50: #defcfd;
  --teal-100: #bae4e6;
  --teal-200: #8fced1;
  --teal-300: #55babe;
  --teal-400: #00a6ae;
  --teal-500: #008f99;
  --teal-600: #00757d;
  --teal-700: #00595e;
  --teal-800: #003f42;
  --teal-900: #00282a;
  --teal-950: #001315;
  --ocean-50: #e7f7ff;
  --ocean-100: #c7ddf8;
  --ocean-200: #a5c4ea;
  --ocean-300: #7fabe2;
  --ocean-400: #5491dd;
  --ocean-500: #2e78cd;
  --ocean-600: #2361a8;
  --ocean-700: #234b7c;
  --ocean-800: #1d3655;
  --ocean-900: #122236;
  --ocean-950: #06101d;
  --amethyst-50: #f1f3ff;
  --amethyst-100: #d5d8f8;
  --amethyst-200: #babdea;
  --amethyst-300: #9ea1e2;
  --amethyst-400: #8384dc;
  --amethyst-500: #6b68cc;
  --amethyst-600: #5654a7;
  --amethyst-700: #43427b;
  --amethyst-800: #303155;
  --amethyst-900: #1e1f36;
  --amethyst-950: #0d0d1d;
}
