@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-element-accent);
  transition: 0.1s;
  padding: 0px;
  corner-radius: 4px;
}

h1 a {
  color: var(---color-text);
}

.muted {
  text-decoration: none;
  color: var(--color-element-secondary);
  transition: 0.1s;
  padding: 3px;
  corner-radius: 3px;
}

.plain-link {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.1s;
}

p {
  margin-bottom: 1rem
}

h1 {
  font-weight: semi-bold;
}

.card {
  background-color: var(--color-surface-tertiary);
  padding: 8px;
  margin: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.muted-button {
  background-color: var(--stone-700);
  color: var(--color-element-primary);
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px;
}

.muted-button:hover {
  background-color: var(--stone-600);
}


@media (hover: hover) {
  a:hover {
    background-color: var(--color-surface-accent);
    corner-radius: 100%;
  }
}

